@font-face {
    font-family: 'Nixin-Regular';
    src: url('nixin_regular-webfont.eot');
    src: url('nixin_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('nixin_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
